<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e4b0ec47-8753-4733-8680-484d920bea49/resourceGroups/BISP_grp/providers/Microsoft.Web/sites/BIS-project</ResourceId>
    <ResourceGroup>BISP_grp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://bis-project.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://bis-project.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$BIS-project</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>